[project]
	description = Apache 2 authz module that allows or denies access based upon filesystem
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chris Cowan (ceez)
[access "refs/for/refs/*"]
	read = group user/Chris Cowan (ceez)
	push = group user/Chris Cowan (ceez)
	label-Code-Review = -2..+2 group user/Chris Cowan (ceez)
	label-Verified = -1..+1 group user/Chris Cowan (ceez)
	rebase = group user/Chris Cowan (ceez)
	removeReviewer = group user/Chris Cowan (ceez)
	submit = group user/Chris Cowan (ceez)
[access "refs/heads/*"]
	read = group user/Chris Cowan (ceez)
	create = group user/Chris Cowan (ceez)
	push = +force group user/Chris Cowan (ceez)
	pushMerge = group user/Chris Cowan (ceez)
[access "refs/tags/*"]
	push = +force group user/Chris Cowan (ceez)
	pushTag = group user/Chris Cowan (ceez)
	pushSignedTag = group user/Chris Cowan (ceez)
